/* mat-grid-tile {
  background: rgba(62, 161, 194, 0.5);
} */

.main {
  min-width: 600px;
  max-width: 1000px;
  margin: auto ;
  margin-top: -12rem;
  /* background-color: rgb(173, 216, 230, 0.5); */
}


.menu-spacer {
  flex: 1 1 auto;
}
.location-chip {
  background-color: #ecf0b3;
  display: inline-block;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px 1px;
}
.chtype-chip {
  background-color: #d9b3f0;
  display: inline-block;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px 1px;
}