<div (mouseleave)="emptyStars()" >
  <mat-icon class="star star1" #star1 (mouseover)="fillSelectedStars(1)" (click)="setRating(1)">star</mat-icon>
  <mat-icon class="star star2" #star2 (mouseover)="fillSelectedStars(2)" (click)="setRating(2)">star</mat-icon>
  <mat-icon class="star star3" #star3 (mouseover)="fillSelectedStars(3)" (click)="setRating(3)">star</mat-icon>
  <mat-icon class="star star4" #star4 (mouseover)="fillSelectedStars(4)" (click)="setRating(4)">star</mat-icon>
  <mat-icon class="star star5" #star5 (mouseover)="fillSelectedStars(5)" (click)="setRating(5)">star</mat-icon>
</div>
