<div class="main">

  <div class="ch-card" *ngFor="let ch of culturalHeritages$ | async">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          <h1>{{ch.name}}</h1>
        </mat-card-title>
        <span class="menu-spacer"></span>
        <mat-icon style="color: #a19b90">museum</mat-icon>
      </mat-card-header>

      <mat-card-content>
        <!-- description -->
        <div class="description">
          {{ch.description}}
        </div>

        <!-- footer - reivews(ratings & comments), news, location, chtype -->
        <div class="footer">

          <div [ngClass]="{'reviews': innerWidth > 450}" class="reviews" (click)="openReviews(ch)">
            <div class="rating">
              {{ch.avgRating}}
            </div>
            <div class="stars" >
              <app-rating [value]=ch.avgRating [starSize]=18></app-rating>
            </div>
          </div>
     
          <div class="location-chip">
            {{ch.location.country}}, {{ch.location.city}}
          </div>
          <div class="chtype-chip">
            {{ch.chtype.name}}
          </div>
        </div>

      </mat-card-content>

    </mat-card>
  </div>


</div>