<h1 mat-dialog-title>Add New Cultural Heritage</h1>
<div mat-dialog-content>
  <!-- name -->
  <mat-form-field>
    <mat-label>name</mat-label>
    <input type="text" matInput [(ngModel)]="newCulturalHeritage.name">
  </mat-form-field>
  <!-- description -->
  <mat-form-field>
    <mat-label>description</mat-label>
    <input type="text" matInput [(ngModel)]="newCulturalHeritage.description">
  </mat-form-field>
  <!-- chtypye -->
  <mat-form-field>
    <mat-label>Choose a subtype</mat-label>
    <mat-select [(ngModel)]="newCulturalHeritage.chtype" name="chtype">
      <mat-option *ngFor="let type of chtypes" [value]="type">
        {{ type.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- location -->
  <mat-form-field>
    <mat-label>location</mat-label>
    <input type="text" matInput [(ngModel)]="newCulturalHeritage.location">
  </mat-form-field>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-raised-button color="accent" 
  [mat-dialog-close]="newCulturalHeritage" 
  [disabled]="!newCulturalHeritage.name || !newCulturalHeritage.description || !newCulturalHeritage.chtype || !newCulturalHeritage.location ">
    Save
  </button>
</mat-dialog-actions>